{% extends "modelo-base.html" %}
{% block conteudo %}
<div class="container-about">
    <h1 class="title">Sobre a TC Gadgets</h1>
    <div class="content">
        <p>A TC Gadgets é uma empresa fundada em São Paulo no ano de 2021. Desde o seu início, a empresa tem se destacado no mercado de vendas de gadgets, oferecendo os produtos mais inovadores e de qualidade superior aos melhores preços.</p>
        <p>Com uma visão focada em fornecer tecnologia acessível a todos, a TC Gadgets se tornou um nome confiável para quem procura gadgets modernos e funcionalidade. Nosso compromisso é sempre oferecer a melhor experiência de compra, com rapidez, segurança e a confiança de estar adquirindo produtos de ponta.</p>
        <p>Seja para quem ama tecnologia ou para quem busca praticidade no dia a dia, a TC Gadgets tem o gadget perfeito para você.</p>
    </div>
</div>
{% endblock %}