{% extends "modelo-base-produto.html" %}

{% block conteudo %}
<!-- imagem do produto -->
<div class="pdt-img">
    <img src="../static/img/apple-watch-se-gps-40mm.png" alt="Apple Watch">
</div>
<!-- Descrição do produto -->
<div class="pdt-desc">
    <h2 class="t-pdt">Apple Watch SE 40mm</h2>
    <p>Descrição do Produto:</p>
    <p>Marca: Apple <br>
        Referência: MRG73BZ/A <br>
        Modelo: Apple Watch SE <br>
        Tamanho da Caixa: 40mm <br>
        <br>
        Características: <br>
        <br>
        GPS + Cellular <br>
        Material da Caixa <br>
        Alumínio <br>
        Memória Interna <br>
        32GB <br>
        Processador <br>
        S8 SiP <br>
        Sistema Operacional: watchOS <br>
        Conectividade: Wi‑Fi 4, LTE, UMTS e Bluetooth 5.3 <br>
        <br>
        Tamanho da Pulseira P/M: Para pulsos de 130 a 180mm <br>
        Tipo de Pulseira: Esportiva <br>
        Material da Pulseira: Fluorelastômero <br>
        Cor da Pulseira: Meia-noite <br>
        Cor da Caixa: Meia-noite <br>
        Tipo de Display: Tela Retina OLED de LTPO <br>
        <br>
        Duração Aproximada da Bateria: Até 18 horas <br>
        Voltagem do Carregador: Bivolt <br>
        Garantia: 01 ano (3 meses de garantia legal e mais 9 meses de garantia especial concedida pelo fabricante).
    <p class="preco">R$ 2.449,90</p>
    <button class="buy-btn">Comprar</button>
</div>
{% endblock %}