{% extends "modelo-base-produto.html" %}

{% block conteudo %}
<!-- imagem do produto -->
<div class="pdt-img">
    <img src="../static/img/bateria-dji-phantom4pro.webp" alt="Bateria Phantom 4">
</div>
<!-- Descrição do produto -->
<div class="pdt-desc">
    <h2 class="t-pdt">Bateria Phantom 4 Pro</h2>
    <p>Descrição do Produto:</p>
    <p>Capacidade: 5870 mAh <br>
        Voltagem: 15,2 V <br>
        Tipo de Bateria: Íon-Polímero (LiPo 4S) <br>
        Energia: 89,2 Wh <br>
        Potência de carga máxima: 160 W <br>
        Peso líquido: 468g <br>
        Cor: Branca</p>
    <p class="preco">R$ 2.529,99</p>
    <button class="buy-btn">Comprar</button>
</div>
{% endblock %}