{% extends "modelo-base-produto.html" %}

{% block conteudo %}
<!-- imagem do produto -->
<div class="pdt-img">
    <img src="../static/img/gopro-hero4.jpg" alt="Go Pro Hero 4">
</div>
<!-- Descrição do produto -->
<div class="pdt-desc">
    <h2 class="t-pdt">GoPro Hero 4</h2>
    <p>Descrição do Produto:</p>
    <p>Lançamento: 28/09/2014 <br>
        Bateria: 2 horas (1160 mAh) <br>
        Sensor: 12 MP, 1/2,3", f/2.8 <br>
        Peso: 83 gramas (147 gramas com o case) <br>
        Tela: LCD 1.5" <br>
        Sensível ao Toque: Sim <br>
        Wireless: Wifi e Bluetooth <br>
        Dimensão: 59 x 41 x 30 mm <br>
        Cartão de Memória: microSD até 128 GB</p>
    <p class="preco">R$ 1.249,90</p>
    <button onclick="window.location.href='/produtos'" class="buy-btn">Comprar</button>
</div>
{% endblock %}