{% extends "modelo-base-produto.html" %}

{% block conteudo %}
<!-- imagem do produto -->
<div class="pdt-img">
    <img src="../static/img/Galaxy-watch7-44mm.webp" alt="Galaxy Watch 7">
</div>
<!-- Descrição do produto -->
<div class="pdt-desc">
    <h2 class="t-pdt">Galaxy Watch 7</h2>
    <p>Descrição do Produto:</p>
    <p>Modelo: SML310 <br>
        Sistema Operacional: Wear OS Powered by Samsung <br>
        Tela:Tamanho da Tela: 1.47 <br>
        Material da Tela: Super AMOLED 2.000 nits 480 x 480px <br>
        Quantidade de Cores: 16 milhões <br>
        Resistência da Tela: Cristal de Safira (24GPa) <br>
        <br>
        Conectividade: Wi-Fi Bluetooth NFC <br>
        <br>
        Capacidade: 32 GB*  <br>
        * Parte da memória interna já é utilizada pelo sistema operacional e aplicativos pré-instalados.
        <br>
        Processador: Exynos W1000 - Penta-Core 3nm <br>
        Velocidade do Processador: 1.6 GHz <br>
        <br>
        Memória RAM: 2GB <br>
        <br>
        Caixa: Material da Caixa: Alumínio Reforçado <br>
        Pulseira: Material da Pulseira: Borracha HNBR <br>
        Ideal para pulsos 44 mm <br>
        <br>
        Bateria: Ions de Lítio <br>
        Duração: 425mAh <br>
        <br>
        Compatibilidade <br>
        Smartphones Android 11.0 ou superior e memória RAM de 1.5GB <br>
        <br>
        Garantia: 12 meses
    </p>
    <p class="preco">R$ 2.900,00</p>
    <button class="buy-btn">Comprar</button>
</div>
{% endblock %}