{% extends "modelo-base.html" %}


{% block conteudo %}

<div class="img-cp"><img src="../static/img/cp-gadgets.jpg" alt="Gadgets"></div>

<h1 class="h1-marca">TC Gadgets</h1>

<div class="d-prop">
    <p class="p-centralizado">
        <span class="destaque">Ofertas</span> que você não vai encontrar em nenhum outro lugar, <span
            class="destaque">preços</span> que cabem no seu bolso e gadgets <span class="destaque">incríveis</span> para
        <span class="destaque">transformar</span> seu dia a dia. Tudo isso, com a <span class="destaque">inovação</span>
        que você merece, e no melhor preço!
    </p>
</div>

<div class="menu">
    <div class="card">
        <img src="../static/img/icon-ofertas-24px.png" alt="ofertas"> <!-- Ícone de Ofertas -->
        <p>Ofertas</p>
    </div>
    <div class="card">
        <img src="../static/img/icon-produto-24px.png" alt="produtos"> <!-- Ícone de Produtos -->
        <p>Produtos</p>
    </div>
    <div class="card">
        <img src="../static/img/icon-desconto-24px.png" alt="desconto"> <!-- Ícone de Cupons -->
        <p>Cupons</p>
    </div>
</div>


{% endblock %}