<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>TC Gadgets</title>
</head>
<body>
    <div class="container">
        <nav class="navegacao">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('produtos')}}">Produtos</a>
            <a href="{{url_for('contato')}}">Contato</a>
            <a href="{{url_for('aboutus')}}">Sobre nós</a>
        </nav>

        {%block conteudo%}
        {%endblock%}

    </div>

    <footer>
        <p>&#169; 2024 TCnologia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>