{% extends "modelo-base-produto.html" %}

{% block conteudo %}
<!-- imagem do produto -->
<div class="pdt-img">
    <img src="../static/img/phantom4-advanced.png" alt="phantom4-advanced">
</div>
<!-- Descrição do produto -->
<div class="pdt-desc">
    <h2 class="t-pdt">Phantom 4 Pro</h2>
    <p>Descrição do Produto:</p>
    <p>Marca: DJI <br>
        Modelo: Pro V2.0 Plus<br>
        <br>
        Especificações:<br>
        <br>
        Aeronave:<br>
        <br>
        Tamanho Diagonal (Excluindo Hélices): 350mm<br>
        Máxima Velocidade de Decolagem: Modo S: 6m/s | Modo P: 5m/s<br>
        Máxima Velocidade de Descida: Modo S: 4m/s | Modo P: 3m/s<br>
        Máxima Velocidade: 45mph (72 km/h) (modo S) | 36mph (58 km/h) (modo A) | 31mph (50 km/h) (modo P)<br>
        Ângulo máximo de inclinação: 42° (modo S) | 35° (modo A) | 25° (modo P)<br>
        Velocidade angular máxima: 250°/s (modo S) | 150°/s (modo A)<br>
        Temperatura de Funcionamento: 0o a 40o C<br>
        Teto Máximo de Serviço Acima do Nível do Mar: 19685 pés (6000 m)<br>
        Tempo de Voo Máximo: Aprox. 30 minutos<br>
        Temperatura de operação: 32° a 104° F(0° a 40° C)<br>
        Sistemas de Posicionamento por Satélite: GPS / GLONASS<br>
        <br>
        Faixa de precisão do GPS Hover: <br>
        Vertical: ± 0,1 m (com posicionamento da visão); ± 0,5 m (Com Posicionamento GPS) <br>
        Horizontal: ± 0,3 m (com posicionamento da visão); ± 1,5 m (Com Posicionamento GPS) <br>
        <br>
        Carregador: <br>
        Voltagem: 17,4 V <br>
        Potência nominal: 100 W <br>
        <br>
        GIMBAL: <br>
        Estabilização: 3 Eixos <br>
        Intervalo Controlável: Pitch: -90 ° a + 30 °  <br>
        Velocidade angular controlável máxima: Pitch: 90 °/s <br>
        Precisão do Controle Angular: ± 0,01° <br>
    <p class="preco">R$ 25.499,99</p>
    <button class="buy-btn">Comprar</button>
</div>
{% endblock %}